.el-carousel__container{
    height: 400px ;
  }
  .el-menu--horizontal>.el-submenu .el-submenu__icon-arrow{
    display: none;
}
.el-menu--horizontal>.el-submenu .el-submenu__title{
    color: white;
}
.el-menu--horizontal>.el-submenu:focus .el-submenu__title{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.el-carousel__button{
    height: 20px;
    width: 20px;
    border-radius: 10px;
  }
  .el-menu--horizontal>.el-submenu.is-active .el-submenu__title{
    border-bottom:#1013a1;

  }